<div class="form-group">
        <label>About Title</label>
		<input type="text" class="form-control" name="about_title" placeholder="About Title" value="{{data.about_title}}"/>
</div>

<div class="form-group">
        <label>About Paragraph</label>
		<input type="text" class="form-control" name="about_paragraph" placeholder="About Paragraph" value="{{data.about_paragraph}}" />
</div>

<div class="form-group">
        <label>About Mobile</label>
		<input type="text" class="form-control" name="about_mobile" placeholder="Contact Number" value="{{data.about_mobile}}" />
</div>

<div class="form-group">
        <label>About Email</label>
		<input type="text" class="form-control" name="about_mail" placeholder="About Mail" value="{{data.about_mail}}" />
</div>
